#chart{
    /*height: 800px;*/
    /*width: 1200px;*/
    border: 1px solid gray;
    display: inline-block;
}


.tick text {
    font-family: sans-serif;
    font-size: 14px;
}


.tick line{


    stroke: lightgray;
}


.tick:first-of-type line{


     stroke: black;
 }

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
